* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Para garantir que o corpo tenha altura total */
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #181C23;
    color: #fff;
    margin: 0;
}

.container {
    flex: 1; /* Faz o contêiner principal expandir para ocupar o espaço disponível */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3vh 10vh;
    gap: 30px;
    text-decoration: none;
    color: inherit;
}

.cabecalho h1 {
    font-size: 1.5rem;
    text-align: center;
}

.custom-hr {
    border: 0;
    height: 2px;
    background: #444;
    margin: 20px 0;
}

.aluno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3vh 10vh;
    gap: 10px;
}

.corpo h2 {
    margin-bottom: 2vh;
}

.corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh 10vh;
    line-height: 1.8;
}

.corpo .texto{
    margin: 10px 25vh;
}

.corpo p a {
    text-decoration: none;
    color: #fff;
    transition: 0.5s ease;
}

.corpo p a:hover {
    color: #A6F750;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #1a1e25;
    width: 100%;
}

footer .contato {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

footer a {
    text-decoration: none;
    color: #fff;
    transition: 0.5s ease;
}

footer a:hover {
    color: #A6F750;
}

